In [57]:
import pandas as pd

In [94]:
data1 = pd.read_csv("final_ready_to_go.csv")
print(data1.shape)
print(data1.columns)
data1.head()

(147702, 25)
Index(['item_id', 'brand_x', 'item_name', 'color_x', 'product_type_x', 'style',
       'image_id', 'country', 'marketplace', 'domain_name', 'node_name',
       'description', 'height_x', 'width_x', 'path_x', 'asin', 'brand_y',
       'color_y', 'product_type_y', 'height_y', 'width_y', 'path_y', 'height',
       'width', 'path'],
      dtype='object')

,item_id,brand_x,item_name,color_x,product_type_x,style,image_id,country,marketplace,domain_name,...,asin,brand_y,color_y,product_type_y,height_y,width_y,path_y,height,width,path
0,B08541W2YW,Amazon Brand - Solimo,Amazon Brand - Solimo Designer Alone UV Printe...,Multicolor,CELLULAR_PHONE_CASE,NaN,81qMxl2CVIL,IN,Amazon,amazon.in,...,B08541W2YW,Amazon Brand - Solimo,Multicolor,CELLULAR_PHONE_CASE,2200.0,1879.0,e9/e9fd8bc5.jpg,2200.0,1879.0,abo-images-small/images/small/e9/e9fd8bc5.jpg
1,B08511NXCH,Amazon Brand - Solimo,Amazon Brand - Solimo Designer Multicolor Wax ...,Multicolor,CELLULAR_PHONE_CASE,NaN,81QO6VeWJWL,IN,Amazon,amazon.in,...,B08511NXCH,Amazon Brand - Solimo,Multicolor,CELLULAR_PHONE_CASE,2200.0,1879.0,fa/fabea2b9.jpg,2200.0,1879.0,abo-images-small/images/small/fa/fabea2b9.jpg
2,B0856B16JB,Amazon Brand - Solimo,Amazon Brand - Solimo Designer Kiss-ing Couple...,Multicolor,CELLULAR_PHONE_CASE,NaN,61NAICfnB6L,IN,Amazon,amazon.in,...,B0856B16JB,Amazon Brand - Solimo,Multicolor,CELLULAR_PHONE_CASE,2200.0,1879.0,3c/3c58a39d.jpg,2200.0,1879.0,abo-images-small/images/small/3c/3c58a39d.jpg
3,B07T36KGH2,Amazon Brand - Solimo,Amazon Brand - Solimo Designer Love Birds Vect...,Others,CELLULAR_PHONE_CASE,NaN,613w17ik6wL,IN,Amazon,amazon.in,...,B07T36KGH2,Amazon Brand - Solimo,Others,CELLULAR_PHONE_CASE,2200.0,1879.0,f2/f29f33bf.jpg,2200.0,1879.0,abo-images-small/images/small/f2/f29f33bf.jpg
4,B074J5TWYL,365 by Whole Foods Market,"365 Everyday Value, Organic Black Tea (70 Tea ...",NaN,GROCERY,NaN,91rJDoE+k8L,US,AmazonFresh,fresh.amazon.com,...,"B074MG9DNW, B074J5TWYL",365 by Whole Foods Market,NaN,"GROCERY, TEA",2380.0,2560.0,03/03fde183.jpg,2380.0,2560.0,abo-images-small/images/small/03/03fde183.jpg

In [95]:
data1['path']

0         abo-images-small/images/small/e9/e9fd8bc5.jpg
1         abo-images-small/images/small/fa/fabea2b9.jpg
2         abo-images-small/images/small/3c/3c58a39d.jpg
3         abo-images-small/images/small/f2/f29f33bf.jpg
4         abo-images-small/images/small/03/03fde183.jpg
                              ...
147697    abo-images-small/images/small/04/0447bb9e.jpg
147698    abo-images-small/images/small/2f/2f374267.jpg
147699    abo-images-small/images/small/11/1110251a.jpg
147700    abo-images-small/images/small/a4/a47e361c.jpg
147701    abo-images-small/images/small/d9/d999bf51.jpg
Name: path, Length: 147702, dtype: object

In [59]:
data1 =  pd.read_csv("summed_json__flat.csv")
data2 =  pd.read_csv("merged_images_listings.csv")
data3 =  pd.read_csv("images.csv")

In [74]:
import pandas as pd

# Load your DataFrame (replace with your actual loading code if needed)
# df = pd.read_csv("your_file.csv")

# Group by image_id and aggregate other columns by joining unique values
print(data2.shape)
merged_df = data2.groupby("image_id").agg({
    "height": "first",
    "width": "first",
    "path": "first",
    "asin": lambda x: ", ".join(x.dropna().unique()),
    "brand": lambda x: ", ".join(x.dropna().unique()),
    "color": lambda x: ", ".join(x.dropna().unique()),
    "product_type": lambda x: ", ".join(x.dropna().unique())
}).reset_index()
print(merged_df.shape)

(710695, 8)
(398212, 8)

In [76]:
import pandas as pd

# Load your DataFrame (replace with actual loading code if needed)
# Example: data2 = pd.read_csv("your_file.csv")

# Ensure all necessary columns exist
required_columns = ["image_id", "height", "width", "path", "asin", "brand", "color", "product_type"]
data2 = data2[required_columns]

# Convert target columns to string type to prevent type issues
for col in ["asin", "brand", "color", "product_type"]:
    data2[col] = data2[col].astype(str)

# Group by image_id and aggregate with optimized functions
merged_df2 = data2.groupby("image_id").agg({
    "height": "first",            # assuming height is the same for all duplicates
    "width": "first",             # assuming width is the same for all duplicates
    "path": "first",              # assuming path is the same for all duplicates
    "asin": lambda x: ", ".join(set(x)),
    "brand": lambda x: ", ".join(set(x)),
    "color": lambda x: ", ".join(set(x)),
    "product_type": lambda x: ", ".join(set(x)),
}).reset_index()

# Show original and merged shape
print("Original shape:", data2.shape)
print("Grouped shape:", merged_df2.shape)

# Optional: Save to CSV
# merged_df.to_csv("merged_output.csv", index=False)

Original shape: (710695, 8)
Grouped shape: (398212, 8)

In [78]:
final_df = pd.merge(merged_df, data3, how='left', on='image_id')

print("merged_df shape:", merged_df.shape)
print("data3 shape:", data3.shape)
print("final_df shape:", final_df.shape)

merged_df shape: (398212, 8)
data3 shape: (398212, 4)
final_df shape: (398212, 11)

In [83]:
print(final_df.shape,data1.shape)
final_csv = pd.merge(data1, final_df,how='left',on='image_id')
print(final_csv.shape)

(398212, 11) (147702, 12)
(147702, 22)

In [85]:
final_csv.columns

Index(['item_id', 'brand_x', 'item_name', 'color_x', 'product_type_x', 'style',
       'image_id', 'country', 'marketplace', 'domain_name', 'node_name',
       'description', 'height_x', 'width_x', 'path_x', 'asin', 'brand_y',
       'color_y', 'product_type_y', 'height_y', 'width_y', 'path_y'],
      dtype='object')

In [86]:
final_csv['description']

0         Snug fit for Samsung Galaxy M20, with perfect ...
1         Snug fit for Samsung Galaxy M21, with perfect ...
2         Snug fit for Oppo A91, with perfect cut-outs f...
3         3D Printed Hard Back Case Mobile Cover for Len...
4         Brought to you by Whole Foods Market.  The pac...
                                ...
147697    3D Printed Hard Back Case Mobile Cover for Mic...
147698                                                  NaN
147699                                                  NaN
147700    Adds a colorful design element to your child's...
147701    Set includes 2 standard-size pillowcases; made...
Name: description, Length: 147702, dtype: object

In [87]:
final_csv['image_id']

0         81qMxl2CVIL
1         81QO6VeWJWL
2         61NAICfnB6L
3         613w17ik6wL
4         91rJDoE+k8L
             ...
147697    71UKgLZ+kuL
147698    719hbtWeTDL
147699    61TS4ISi1vL
147700    81DUhoIIZjL
147701    81pMc4G8VaS
Name: image_id, Length: 147702, dtype: object

In [89]:
final_csv.columns

Index(['item_id', 'brand_x', 'item_name', 'color_x', 'product_type_x', 'style',
       'image_id', 'country', 'marketplace', 'domain_name', 'node_name',
       'description', 'height_x', 'width_x', 'path_x', 'asin', 'brand_y',
       'color_y', 'product_type_y', 'height_y', 'width_y', 'path_y'],
      dtype='object')

In [92]:
final_csv['path']="abo-images-small/images/small/"+final_csv['path_y']

In [93]:
final_csv.to_csv("check.csv",index=False)

In [81]:
merged_df.head()

,image_id,height,width,path,asin,brand,color,product_type
0,010-mllS7JL,106,106,14/14fe8812.jpg,B07Y7M8LV7,UMI,,KITCHEN
1,01dkn0Gyx0L,122,122,da/daab0cad.jpg,B07Y7M4JZ2,UMI,,KITCHEN
2,01sUPg0387L,111,111,d2/d2daaae9.jpg,B07ZTFRVTT,UMI,,KITCHEN
3,1168jc-5r1L,186,186,3a/3a4e88e6.jpg,B07ZTFC41S,UMI,,KITCHEN
4,11RUV5Fs65L,30,500,d9/d91ab9cf.jpg,B07CMMZT7R,Solimo,,GROCERY

In [79]:
final_df.head()

,image_id,height_x,width_x,path_x,asin,brand,color,product_type,height_y,width_y,path_y
0,010-mllS7JL,106,106,14/14fe8812.jpg,B07Y7M8LV7,UMI,,KITCHEN,106,106,14/14fe8812.jpg
1,01dkn0Gyx0L,122,122,da/daab0cad.jpg,B07Y7M4JZ2,UMI,,KITCHEN,122,122,da/daab0cad.jpg
2,01sUPg0387L,111,111,d2/d2daaae9.jpg,B07ZTFRVTT,UMI,,KITCHEN,111,111,d2/d2daaae9.jpg
3,1168jc-5r1L,186,186,3a/3a4e88e6.jpg,B07ZTFC41S,UMI,,KITCHEN,186,186,3a/3a4e88e6.jpg
4,11RUV5Fs65L,30,500,d9/d91ab9cf.jpg,B07CMMZT7R,Solimo,,GROCERY,30,500,d9/d91ab9cf.jpg

In [75]:
datan =  merged_df.copy()

In [ ]:
merged_df = pd.merge(data1, datan, how='left', on='image_id')
merged_df.head()

In [64]:
data1.columns

Index(['item_id', 'brand', 'item_name', 'color', 'product_type', 'style',
       'main_image_id', 'country', 'marketplace', 'domain_name', 'node_name',
       'description'],
      dtype='object')

In [65]:
data1.rename(columns={'main_image_id': "image_id"}, inplace=True)
data1.columns

Index(['item_id', 'brand', 'item_name', 'color', 'product_type', 'style',
       'image_id', 'country', 'marketplace', 'domain_name', 'node_name',
       'description'],
      dtype='object')

In [68]:
data1.shape, data2.shape

((147702, 12), (710695, 8))

In [73]:

data2[data2['image_id']=="B1zv8OpTkBS"]

,image_id,height,width,path,asin,brand,color,product_type
710689,B1zv8OpTkBS,2560,2560,6d/6d49d130.jpg,B07CRLJ2MS,Rivet,NaN,HOME_FURNITURE_AND_DECOR
710690,B1zv8OpTkBS,2560,2560,6d/6d49d130.jpg,B07B4M6CN1,Rivet,그레이,SOFA

In [66]:
merged_df = pd.merge(data1, data2, how='left', on='image_id')
merged_df.head()

,item_id,brand_x,item_name,color_x,product_type_x,style,image_id,country,marketplace,domain_name,node_name,description,height,width,path,asin,brand_y,color_y,product_type_y
0,B08541W2YW,Amazon Brand - Solimo,Amazon Brand - Solimo Designer Alone UV Printe...,Multicolor,CELLULAR_PHONE_CASE,NaN,81qMxl2CVIL,IN,Amazon,amazon.in,/Categories/Mobiles & Accessories/Mobile Acces...,"Snug fit for Samsung Galaxy M20, with perfect ...",2200.0,1879.0,e9/e9fd8bc5.jpg,B08541W2YW,Amazon Brand - Solimo,Multicolor,CELLULAR_PHONE_CASE
1,B08511NXCH,Amazon Brand - Solimo,Amazon Brand - Solimo Designer Multicolor Wax ...,Multicolor,CELLULAR_PHONE_CASE,NaN,81QO6VeWJWL,IN,Amazon,amazon.in,/Categories/Mobiles & Accessories/Mobile Acces...,"Snug fit for Samsung Galaxy M21, with perfect ...",2200.0,1879.0,fa/fabea2b9.jpg,B08511NXCH,Amazon Brand - Solimo,Multicolor,CELLULAR_PHONE_CASE
2,B0856B16JB,Amazon Brand - Solimo,Amazon Brand - Solimo Designer Kiss-ing Couple...,Multicolor,CELLULAR_PHONE_CASE,NaN,61NAICfnB6L,IN,Amazon,amazon.in,/Categories/Mobiles & Accessories/Mobile Acces...,"Snug fit for Oppo A91, with perfect cut-outs f...",2200.0,1879.0,3c/3c58a39d.jpg,B0856B16JB,Amazon Brand - Solimo,Multicolor,CELLULAR_PHONE_CASE
3,B07T36KGH2,Amazon Brand - Solimo,Amazon Brand - Solimo Designer Love Birds Vect...,Others,CELLULAR_PHONE_CASE,NaN,613w17ik6wL,IN,Amazon,amazon.in,/Categories/Mobiles & Accessories/Mobile Acces...,3D Printed Hard Back Case Mobile Cover for Len...,2200.0,1879.0,f2/f29f33bf.jpg,B07T36KGH2,Amazon Brand - Solimo,Others,CELLULAR_PHONE_CASE
4,B074J5TWYL,365 by Whole Foods Market,"365 Everyday Value, Organic Black Tea (70 Tea ...",NaN,GROCERY,NaN,91rJDoE+k8L,US,AmazonFresh,fresh.amazon.com,"/Categories/Beverages/Coffee, Tea & Cocoa/Tea/...",Brought to you by Whole Foods Market. The pac...,2380.0,2560.0,03/03fde183.jpg,B074J5TWYL,365 by Whole Foods Market,NaN,GROCERY

In [67]:
merged_df.shape

(1007763, 19)

In [ ]:
merged_df.to_csv("csv_combined")

In [62]:
for i in data1.head()['description']:
    print(i)

Snug fit for Samsung Galaxy M20, with perfect cut-outs for volume buttons, audio and charging ports Compatible with Samsung Galaxy M20 Easy to put & take off with perfect cutouts for volume buttons, audio & charging ports. Stylish design and appearance, express your unique personality. Extreme precision design allows easy access to all buttons and ports while featuring raised bezel to life screen and camera off flat surface.
Snug fit for Samsung Galaxy M21, with perfect cut-outs for volume buttons, audio and charging ports Compatible with Samsung Galaxy M21 Easy to put & take off with perfect cutouts for volume buttons, audio & charging ports. Stylish design and appearance, express your unique personality. Extreme precision design allows easy access to all buttons and ports while featuring raised bezel to life screen and camera off flat surface.
Snug fit for Oppo A91, with perfect cut-outs for volume buttons, audio and charging ports Compatible with Oppo A91 Easy to put & take off with perfect cutouts for volume buttons, audio & charging ports. Stylish design and appearance, express your unique personality. Extreme precision design allows easy access to all buttons and ports while featuring raised bezel to life screen and camera off flat surface.
3D Printed Hard Back Case Mobile Cover for Lenovo A2010 Easy to put & take off with perfect cutouts for volume buttons, audio & charging ports. Stylish design and appearance, express your unique personality. Extreme precision design allows easy access to all buttons and ports while featuring raised bezel to life screen and camera off flat surface. Slim Hard Back Cover No Warranty
Brought to you by Whole Foods Market.  The packaging for this product has a fresh new look. During this transition, you may get the original packaging or the new packaging in your order, but the product and quality is staying exactly the same. Enjoy! Tea is the second most consumed beverage on the planet after water. That's why we select the freshest, organically-grown teas from estates around the globe to create an ideal blend for your everyday tea enjoyment. Robust, lively and rich, our organic black tea blend is a natural source of protective antioxidants. Some research suggests the antioxidants found in tea contribute to good health by neutralizing 'free radicals' within the body which damage cell health. Drink to your health - naturally! Certified Organic, Certified Kosher.

In [ ]:
merged_df = pd.merge(data1, data, how='left', on='image_id')

In [ ]:
print(data1.shape,data2.shape,data3.shape)

(147702, 11) (710695, 8) (398212, 4)

In [ ]:

print("Data 1 columns\n",data1.columns)
print("\n\nData 2 columns\n", data2.columns)
print("\n\nData 3 columns\n",data3.columns)

(147702, 11) (710695, 8) (398212, 4)
Data 1 columns
 Index(['item_id', 'brand', 'item_name', 'color', 'product_type', 'style',
       'main_image_id', 'country', 'marketplace', 'domain_name', 'node_name'],
      dtype='object')


Data 2 columns
 Index(['image_id', 'height', 'width', 'path', 'asin', 'brand', 'color',
       'product_type'],
      dtype='object')


Data 3 columns
 Index(['image_id', 'height', 'width', 'path'], dtype='object')

In [ ]:
import pandas as pd

checking2 = pd.DataFrame({
    "image_id_0": data1['item_id'],##all json merged
    "image_id_1": data2["image_id"],##merge_..._list.csv
    "image_id_2": data3["image_id"]#images.csv
})
#checking2

In [ ]:
checking2["has_match"] = checking2["image_id_0"].isin(checking2["image_id_2"])
checking2["reverse_match"] = checking2["image_id_2"].isin(checking2["image_id_0"])
checking2["has_match1"] = checking2["image_id_0"].isin(checking2["image_id_1"])
checking2["reverse_match1"] = checking2["image_id_2"].isin(checking2["image_id_0"])

In [ ]:
len(checking2[checking2["has_match1"]==True]),len(checking2[checking2["reverse_match"]==True]), len(checking2[checking2["reverse_match1"]==True]),len(checking2[checking2["has_match1"]==True])

(0, 312483, 312483, 0)

In [ ]:
checking2[checking2["reverse_match"]==True]

,image_id_0,image_id_1,image_id_2,has_match,reverse_match,has_match1,reverse_match1
398212,NaN,71TJIdmv-7L,NaN,True,True,False,True
398213,NaN,71TJJ-32NCL,NaN,True,True,False,True
398214,NaN,71TJJ4fiiHL,NaN,True,True,False,True
398215,NaN,71TJOABqcbL,NaN,True,True,False,True
398216,NaN,71TJPD5XGqL,NaN,True,True,False,True
...,...,...,...,...,...,...,...
710690,NaN,B1zv8OpTkBS,NaN,True,True,False,True
710691,NaN,B1zwflWhPIS,NaN,True,True,False,True
710692,NaN,C1lf45DhhRS,NaN,True,True,False,True
710693,NaN,C1pEt6jBLiS,NaN,True,True,False,True
710694,NaN,C1sCYAz8NAS,NaN,True,True,False,True

In [ ]:
import pandas as pd

checking = pd.DataFrame({
    "image_id_0": data1['main_image_id'],
    "image_id_1": data2["image_id"], #merged 
    "image_id_2": data3["image_id"] #images
})

In [ ]:
checking["has_match"] = checking["image_id_0"].isin(checking["image_id_2"])
checking["reverse_match"] = checking["image_id_2"].isin(checking["image_id_0"])
checking["has_match1"] = checking["image_id_0"].isin(checking["image_id_1"])
checking["reverse_match1"] = checking["image_id_2"].isin(checking["image_id_0"])

In [ ]:
len(checking[checking["has_match1"]==True]),len(checking[checking["reverse_match"]==True]), len(checking[checking["reverse_match1"]==True]),len(checking[checking["has_match1"]==True])

(147127, 435994, 435994, 147127)

In [ ]:
data1.columns

Index(['item_id', 'brand', 'item_name', 'color', 'product_type', 'style',
       'main_image_id', 'country', 'marketplace', 'domain_name', 'node_name'],
      dtype='object')

In [ ]:
data1['main_image_id']

0         81qMxl2CVIL
1         81QO6VeWJWL
2         61NAICfnB6L
3         613w17ik6wL
4         91rJDoE+k8L
             ...
147697    71UKgLZ+kuL
147698    719hbtWeTDL
147699    61TS4ISi1vL
147700    81DUhoIIZjL
147701    81pMc4G8VaS
Name: main_image_id, Length: 147702, dtype: object